<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creature Combat</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#surrender">Surrent Match</a>
        </li>
      </ul>
    </nav>

    <main class="battle">
      <section class="creature">
        <div class="creature-stats">
          <h4>Chilly Cougar</h4>
          <div>
            <i class="heart outline icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
          </div>
        </div>
        <div class="creature-pic">
          <img
            src="https://p.globalsources.com/IMAGES/PDT/B1191072088/hopper-ball.jpg"
            height="90"
          />
        </div>
      </section>

      <section class="creature">
        <div class="creature-pic">
          <img
            src="https://p.globalsources.com/IMAGES/PDT/B1191072088/hopper-ball.jpg"
            height="125"
          />
        </div>
        <div class="creature-stats">
          <h4>Pink Panda</h4>
          <div>
            <i class="heart outline icon"></i>
            <i class="heart outline icon"></i>
            <i class="heart outline icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
          </div>
        </div>
      </section>

      <section class="menu">
        <ul>
          <li>
            <button>Head</button>
          </li>
          <li>
            <button>Arms</button>
          </li>
          <li>
            <button>Legs</button>
          </li>
          <li>
            <button disabled>Confirm</button>
          </li>
        </ul>
      </section>
    </main>

    <main id="message">
      <i class="sync massive icon"></i>
      <h1>Please rotate your device to landscape</h1>
    </main>

    <script src="battle.js" type="module"></script>
  </body>
</html>
