<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creature Combat</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#surrender">Surrent Match</a>
        </li>
      </ul>
    </nav>

    <main class="battle" style="display: none">
      <section class="creature">
        <div class="creature-stats">
          <h4 class="creature-name">Chilly Cougar</h4>
          <div class="creature-hearts">
            <i class="heart outline icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
          </div>
        </div>
        <div class="creature-pic">
          <img
            src="https://p.globalsources.com/IMAGES/PDT/B1191072088/hopper-ball.jpg"
            alt="Pink Panda Hopper Ball"
            height="90"
          />
        </div>
      </section>

      <section class="creature">
        <div class="creature-pic">
          <img
            src="https://p.globalsources.com/IMAGES/PDT/B1191072088/hopper-ball.jpg"
            alt="Pink Panda Hopper Ball"
            height="125"
          />
        </div>
        <div class="creature-stats">
          <h4 class="creature-name">Pink Panda</h4>
          <div class="creature-hearts">
            <i class="heart outline icon"></i>
            <i class="heart outline icon"></i>
            <i class="heart outline icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
          </div>
        </div>
      </section>

      <section class="menu">
        <ul>
          <li>
            <button>
              <i class="meh icon"></i>
              Head
            </button>
          </li>
          <li>
            <button>
              <i class="hand rock icon"></i>
              Arms
            </button>
          </li>
          <li>
            <button>
              <i class="paw icon"></i>
              Legs
            </button>
          </li>
          <li>
            <button disabled>
              <!-- <i class="cut icon"></i> -->
            </button>
          </li>
        </ul>
      </section>
    </main>

    <main class="creation" style="display: none">
      <section class="creation-img">
        <img
          src="https://p.globalsources.com/IMAGES/PDT/B1191072088/hopper-ball.jpg"
          alt="Pink Panda Hopper Ball"
          height="250"
        />
      </section>
      <section class="creation-title">
        <h4>
          <i class="shuffle icon" style="padding: 5px"></i>
          <span>Pink Panda</span>
        </h4>
      </section>
      <section class="creation-form">
        <div class="email-input">
          <label for="email">Email*:</label>
          <input id="email" placeholder="Enter your email..." type="email" />
        </div>
        <div class="email-input row">
          <input id="pics" value="pics" type="checkbox" />
          <label for="pics">Opt in for getting an image of your creature</label>
        </div>
        <div class="form-actions">
          <button id="form-confirm">Confirm</button>
        </div>
        <a class="returning-user" href="#"
          >Accidental disconnect? Reconnect here.</a
        >
        <p class="error-returning-user"></p>
      </section>
    </main>

    <main id="message">
      <i class="sync massive icon"></i>
      <h1>Please rotate your device to landscape</h1>
    </main>

    <div class="loader hide">
      <h2>Loading</h2>
      <i class="plane huge icon"></i>
      <i class="plane huge icon"></i>
    </div>

    <script src="battle.js" type="module"></script>
  </body>
</html>
