<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creature Combat</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#surrender">Surrent Match</a>
        </li>
      </ul>
    </nav>

    <main>
      <section>
        <div>
          <h4>Chilly Cougar</h4>
          <div>
            <i class="heart outline icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
          </div>
        </div>
        <div></div>
      </section>

      <section>
        <div></div>
        <div>
          <h4>Pink Panda</h4>
          <div>
            <i class="heart outline icon"></i>
            <i class="heart outline icon"></i>
            <i class="heart outline icon"></i>
            <i class="heart icon"></i>
            <i class="heart icon"></i>
          </div>
        </div>
      </section>
    </main>

    <script src="battle.js" type="module"></script>
  </body>
</html>
