@import "../global.css";

.battle .creature {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.battle .creature .creature-pic {
  text-align: center;
}

.battle .creature .creature-stats {
  border: 2px solid var(--golden-amber);
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  background-color: var(--soft-sand);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.battle .creature .creature-stats:nth-child(2) * {
  font-size: 32px;
}

.battle .creature .creature-stats * {
  font-size: 20px;
}

.battle h4 {
  margin-bottom: 4px;
}

.battle .menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  list-style: none;
}

.menu button {
  width: 100%;
  height: 100%;
  border: 3px outset var(--jet-black);
  background-color: var(--stone-gray);
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu button:disabled {
  background-color: var(--stone-gray) !important;
  color: var(--jet-black) !important;
  opacity: 0.6;
  cursor: not-allowed;
}

.menu button:active {
  transform: scale(0.98);
}

.menu button:focus {
  outline: 3px solid var(--golden-amber);
  background-color: var(--electric-blue);
}

.battle .creature .creature-stats i {
  color: var(--crimson-red);
}

#message {
  padding: 16px;
  text-align: center;
  background-color: var(--soft-sand);
  border: 4px double var(--golden-amber);
  border-radius: 8px;
}

@media only screen and (orientation: landscape) {
  .battle {
    display: block;
  }
  #message {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .battle {
    display: none;
  }
  #message {
    display: block;
  }
}
